main{
    background-color: #111016;
    
}
body{
    display: flex;
    background-color: #111016;
}
button{
    background-color: black;
}
h1 {
    margin-bottom: 50px;
    text-align: center;
    color: white;
}

P{
    color: white;
}
a{
    color: white;
}
nav{
    color: white;
}

img {
    max-width: 100%;
}

header {
    background: #000000;
}

footer {
    background-color: #000000;
}

hr {
    width: 50%;
    height: 2.5px;
    position: center;
    background: #ffffff;
    border: none;
}

a {
    text-decoration: none;
}
button {
    background-color: #111016;
    text-decoration: none;
    border: 2.5px;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;
}

.btn {
    padding: 10px 25px;
    color: #ffffff;
    border: 2px solid #ffffff;
    display: block;
    width: max-content;
    border-radius: 0.7rem;
}

.heading-5 {
    color: #ffffff;
}

section {
    color: black;
}