main{
    background-color: black;
}
body{
    background-color: black;
}
button{
    background-color: black;
}
h1{
    color: white;
}
P{
    color: white;
}
a{
    color: white;
}
nav{
    color: white;
}

img {
    max-width: 100%;
}

.head {
    background: #000000;
}
