*{ 
    margin:0;
    padding:0;
    outline:none;
    text-decoration:none;
    list-style:none;
    font-family: 'Mulish', sans-serif;
}


.timeline{
    width: 100%;
    height: 2023px;
    mix-blend-mode: normal;
    display: block;
    margin-bottom: -170px;
}
  

.container{
      width:100%;
      height:360px;
      display:flex;
}

      
.lines {
        margin-left: 50px;
        margin-top: 17px;
}        
        
.dot{
    width:15px;
    height: 15px;
    background: #fff;
    border-radius:7px;
}
        
.line{
    height: 143px;
    width:2px;
    background: #fff;
    margin-left: 6.5px;
}


.frise-image {
    margin-left:12px;
    height: 90px;
    width: 180px;
    margin-bottom: 80px;
    margin-top: -20px;
}

.btn-frise {
    display: block;
    position: absolute;
    padding: 5px 12px;
    color: #ffffff;
    border: 2px solid #ffffff;
    width: 150px;
    border-radius: 0.7rem;
    z-index: 2;
    font-weight: bold;
    right: 113px;
    margin-top: -80px;
    text-align: center;
}


/*
h4 {
    font-family: Open, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    margin-left:25px;
    margin-bottom:5px;
    color: #2B2862;
}

/*
p{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: red;
    margin-left:25px;
}
    
